*
    margin 0
    padding 0

// 背景图片的响应式全屏
body
    background-image url('../images/bg.png')
    // 背景图片位置固定
    background-attachment fixed
    // 背景不重复
    background-repeat no-repeat
    // 居中
    background-position center center
    // 背景覆盖整个viewport
    background-size cover
    // 当背景没有加载时的颜色
    background-color #fff
    font 14px 'microsoft yahei'
    font-weight 300